{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_links %} 

<title>Sign In</title>

{% endblock %}


{% block content %}

<div class="row h-100 m-100 px-5  px-md-0">
    <div class="col-12 col-md-4 ml-md-auto mr-md-auto my-auto border shadow p-3  text-center" >

          <h3 class="mt-5 mb-5 pacifico"><strong>MARCHE</strong></h3>

          <form  class="mt-5 mb-5" id="login_form" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              
              {{ form|crispy }}
            
              {% if redirect_field_value %}
              
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              
              {% endif %}

              <div class="row py-3 px-3 mb-5">

                <div class="col-6 m-0 p-0 text-left">
                    <button  class="btn btn-block blue-btn" type="submit">Sign In</button>
                </div>

                <div class="col-6 m-0 p-0 text-right">
                    {% load account socialaccount %}
    
                    {% get_providers as socialaccount_providers %}
                    <ul class="social_providers_list p-0 m-0">
                    {% for provider in socialaccount_providers %}
                        <a title="{{provider.name}}" class="btn btn-block red-btn" 
                        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Google</a>
                    {% endfor %}
                    </ul>
                </div>

              </div>

              <hr>
              <small class="text-muted">

                  <a  class="" href="{% url 'account_reset_password' %}">Forgot Password ?</a> OR  <a  class="" href="{% url 'account_signup' %}">Don't Have an Account ?</a>  
              </small>
            </form>

      </div>

    </div>

</div>
{% endblock %}
