{% extends "account/base.html" %}
{% load crispy_forms_tags %}


{% block head_links %} 

<title>Signup</title>

{% endblock %}

{% block content %}
<div class="row h-100 m-0 w-100">
  <div class="col-8 col-md-3 ml-auto mr-auto my-auto shadow border p-3 text-center" >

      <div>
        {% block messages %}
          {% if messages %}
          <div>
              <ul>
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              {% endfor %}
              </ul>
          </div>
          {% endif %}
        {% endblock %}
      </div>
      
      <div>
          <h3 class="mt-2 mb-4"><strong>MARCHE</strong></h3>
          <form class=" text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
            
              {{ form|crispy }}
            
              {% if redirect_field_value %}
            
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              
              {% endif %}
              
              <div class="mb-2">
                  <button  class="btn  btn-blue custom-btn p-1" type="submit"><strong>Register Now</strong></button>
              </div>

              <div>
                  {% load account socialaccount %}
  
                  {% get_providers as socialaccount_providers %}
                  <ul class="social_providers_list p-0 m-0">
                  {% for provider in socialaccount_providers %}
                      <a title="{{provider.name}}" class="btn btn-danger p-1 custom-btn" 
                      href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><strong>Register With Google</strong> </a>
                  {% endfor %}
                  </ul>
              </div>

              <hr>
              <strong>
                 <a  class="" href="{% url 'account_login' %}">Already Have an Account ?</a>  
              </strong>
            </form>

            
      </div>

  </div>
</div>
{% endblock %}
