[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
djangorestframework = "*"
django-rest-swagger = "*"
django-crispy-forms = "*"
django-webpack-loader = "*"
django-rest-auth = "*"
django-allauth = "*"
pillow = "*"
django-environ = "*"

[requires]
python_version = "3.7"
