[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.24"
djangorestframework = "*"
django-rest-swagger = "*"
django-rest-auth = "*"
pillow = "*"
django-environ = "*"
django-heroku = "*"
django-cors-headers = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "==1.9.35"

[requires]
python_version = "3.7"
