
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

html,
body {
	font-size: 62.5%;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.1rem;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden!important;
}

h3 {
    font-size: 2rem;
}

.heading {
    font-size: 6rem;
    letter-spacing: 2px;
    font-family: 'Philosopher', sans-serif;
    color: #7a09c4 ;
}

.sub-heading {
    font-size: 4rem;
    letter-spacing: 2px;
    color: #7a09c4 !important;
    opacity: 0.8;
    font-weight: bold;
}

.sub-heading-smaller {
    font-size: 2.5rem;
    letter-spacing: 2px;
    letter-spacing: 2px;
    font-family: 'Philosopher', sans-serif;
}

.btn.call-to-action {
    background: #7a09c4 !important;
    text-align: center;
    color: white !important;
    width: auto;
    padding: 1.3rem 4rem 1.3rem 4rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    font-size: 2rem;
    letter-spacing: 1px;
}

.margin-bottom{
	margin-bottom: 10rem;
}

.pacifico{
	font-family: "Pacifico";
}

.text-muted {
	color: black !important;
	opacity: 0.9 !important;
}

small{
	font-size: 1.4rem !important;
	letter-spacing: 1px;
}

.link {
	text-decoration: none;
	color: white !important;
}

.link:hover {
	text-decoration: none !important;
}

a {
	text-decoration: none;
	color: black !important;
}

a:hover {
	text-decoration: none !important;
}

#login_form label {
	display: none;
}


.white-btn {
    background-color: white !important;
    color: #7a09c4 !important;
	width: 12rem !important;
	font-size: 1.2rem !important;
	letter-spacing: 1px !important;
	
}

.blue-btn {
    font-size: 1.4rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #7a09c4 !important;
    text-align: center;
    color: white !important;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.15);
}

.fa-times{
    font-size: 2rem;
    color: red;
  }

.logout-btn{
    font-size: 1rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #7a09c4 !important; 
}

label,  textarea,
input[type="search"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] 
{

	font-size: 1.4rem !important;
}


.invalid-feedback{
	font-size: 1.4rem !important;	
}


.hide-on-desktop{

	visibility: hidden;
}

.hide-on-mobile{

	visibility: visible;
}


/* for screens that are 600px wide and below */

@media only screen and (max-width: 600px) {
	.hide-on-mobile{

		display: None;
	}

	.hide-on-desktop{

		visibility: visible;
	}

    body {
        font-size: 62.5%;
        font-family: "Quicksand", sans-serif;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    p{
        font-size: 1.4rem;
    }

    .heading {
        font-size: 4rem;
        letter-spacing: 3px;
    }

    .sub-heading {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .sub-heading-smaller {
        font-size: 1.6rem;
        letter-spacing: 2px;
    }

	.sell {
		position: fixed;
		bottom: 30px;
		right: 20px;
	  }
}


